<footer class="system-footer">
  <div class="footer-container">

    <div class="section-header">
      <div class="header-text">

        <div class="h2-container">
          <h2>Contact</h2>
          <div class="h2-boarder"></div>
        </div>
      </div>
    </div>


    <div class="contact-gui">
      <div class="gui-body">
        <div class="gui-row">
          <span class="label">STATUS:</span>
          <span class="value status"><span class="pulse"></span>Let's make something scalable! </span>
        </div>
        <div class="gui-row">
          <span class="label">EMAIL:</span>
          <a href="mailto:alexmdn@icloud.com" class="value">alexmdn&#64;icloud.com</a>
        </div>
        <div class="gui-row">
          <span class="label">LINKEDIN:</span>
          <a href="https://www.linkedin.com/in/alexander-medina/" target="_blank" class="value">https://www.linkedin.com/in/alexander-medina/</a>
        </div>

      </div>
    </div>


<br>
    <br>
    <div class="footer-bottom">
      <div class="social-links">
        <a href="https://www.linkedin.com/in/alexander-medina/" target="_blank" class="social-item">
          <span class="social-label">GITHUB</span>
        </a>
        <a href="https://www.linkedin.com/in/alexander-medina/" target="_blank" class="social-item">
          <span class="social-label">LINKEDIN</span>
        </a>
      </div>

      <div class="system-meta">
        <span class="meta-item">LOC: California</span>
        <span class="meta-item">VER: 2.0.6</span>
        <span class="meta-item">© 2026 Developer</span>
      </div>
    </div>

  </div>
</footer>
